<% layout("/layouts/boilerplate") %>
<body>
    <div class="col-8 offset-2">
        <div class="row">
            <h1>Edit your Listing</h1>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT " class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listings[title]" placeholder="Enter your title" value="<%=listing.title%>" required class="form-control">
                    <div class="valid-feedback">Ttitle Looks good!</div>
                    <div class="invalid-feedback">Give a eye catchy title</div>
                </div>
            
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listings[description]" placeholder="Enter a description" required class="form-control" ><%=listing.description%></textarea>
                    <div class="valid-feedback">Description Looks good!</div>
                    <div class="invalid-feedback">Describe your destination</div>
                </div>
           
                <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listings[price]" placeholder="Enter your Price" value="<%=listing.price%>" required class="form-control" >
                    <div class="valid-feedback">Price framed!</div>
                    <div class="invalid-feedback">How did you forget most imp part of form</div>
                </div>
              
                <div class="col-md-8 mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listings[country]" placeholder="Enter which country is this place from" value="<%=listing.country%>" required class="form-control" >
                    <div class="valid-feedback">Country Looks good!</div>
                    <div class="invalid-feedback">Please enter place Country</div>
                </div>
                </div>

            <div class="mb-3">
                <label for="preview">Preview present image</label><br>
                <img src="<%=originalImage%>" alt="Present Image">
            </div>    
           
            <div class="mb-3">
                <label for="image">Upload New Image</label>
                <input type="file" class="form-control" name="listings[image]">
                <div class="valid-feedback">Image Looks great!</div>
                
            </div>
           
            <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listings[location]" placeholder="Enter place location" value="<%=listing.location %>" required class="form-control" >
                    <div class="valid-feedback">Location tracked!</div>
                    <div class="invalid-feedback">Location not tracked!</div>
            </div>
           
            <button class="btn btn-dark add-btn mb-4">Commit Changes</button>

            </form>
        </div>
    </div>
</body>
