<% layout("/layouts/boilerplate") %>

<style>
    .filters{
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter{
        text-align: center;
        margin-right: 2rem;
        font-size: 0.9rem;
        opacity: 0.7;
        
    }
    .filter:hover{
        opacity: 1;
        cursor:pointer
    }
    .taxInfo{
        display: none;
    }
    .taxSwitch{
        border-radius: 14px;
        border: solid 1px black;
        padding: 10px;
        display: flex;
        height: 3rem;
        align-items: center;
        margin-left: 3rem;
    }

</style>

    <div class="filters">
        <div class="filter = ">
            <i class="fa-solid fa-fire "></i>
            <div class="label  " >Trending </div>
            
        </div>
        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <div class="label">Rooms</div>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain-sun"></i>
            <div class="label">Amazing views</div>
        </div>
        <div class="filter">
            <i class="fa-solid fa-city"></i>
            <div class="label">Iconic cities</div>
        </div><div class="filter">
            <i class="fa-solid fa-umbrella-beach"></i>
            <div class="label">Beach</div>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain"></i>
            <div class="label">Mountains</div>
        </div>
        <div class="filter">
            <i class="fa-solid fa-shuttle-space"></i>
            <div class="label">OMG! </div>
        </div>
         <div class="filter">
            <i class="fa-solid fa-ship"></i>
            <div class="label">Boats</div>
        </div>
        <div class="filter">
            <i class="fa-solid fa-campground"></i>
            <div class="label">Camp</div>
        </div>
        <div class="filter">
            <i class="fa-solid fa-igloo"></i>
            <div class="label">Domes</div>
        </div>
        <div class="filter">
            <i class="fa-solid fa-crown"></i>
            <div class="label">Luxury</div>
        </div>
       
        <div class="taxSwitch">
        <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input switch" type="checkbox" id="switchCheckReverse">
            <label class="form-check-label switch" for="switchCheckReverse">Display price inclusive of taxes</label>
        </div>
       </div>
    </div>
    

    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3">
        <%for(list of allListings){%>
            <a class="listlink" href="/listings/<%= list._id %>"> 
                <div class="card col" >
                    <img src="<%= list.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"><%=list.description%></div>
                    <div class="card-body">
                        <h4> <b><%= list.title %></b></h4>
                        <p class="card-text "> &#8377; <%=list.price.toLocaleString("en-IN") %> /night <i class="taxInfo">&nbsp; +18%GST</i> </p>
                    </div>
                </div>
            </a>
        <%}%>
    </div>


<script>
    let taxSwitch = document.getElementById("switchCheckReverse")
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("taxInfo")
        for(info of taxInfo){
            if(info.style.display !== "inline"){
                info.style.display = "inline"
            }else{
                info.style.display = "none"
                
            }
        }
        console.log(taxInfo)
    })
</script>
    



